<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://myfn516.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/eb8185a5-b265-4cca-b460-b6548a374554/resourceGroups/my-rg/providers/Microsoft.Web/sites/myfn516</ResourceId>
    <UserName>$myfn516</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://myfn516.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>